<div class="newSlider__img col-md-6 p-0">
	{% if  content_type =='article' %}
		<img data-src="{{ file_url(node.field_image.entity.field_media_image.entity.fileuri| image_style('slider') ) }}"  src="{{ file_url(node.field_image.entity.field_media_image.entity.fileuri| image_style('slider')) }}"  alt="{{ label.0|slice(0, 100) }} " class="lazyload w-100">
	{% endif %}
	{% if  content_type =='events' and node.field_events_image.entity.field_media_image.entity.fileuri is not empty %}
		<img data-src="{{ file_url(node.field_events_image.entity.field_media_image.entity.fileuri| image_style('slider') ) }}"  src="{{ file_url(node.field_events_image.entity.field_media_image.entity.fileuri| image_style('slider') ) }}"  alt="{{ label.0|slice(0, 100) }} " class="lazyload w-100">
	{% endif %}
	{% if  content_type =='video' and node.field_video_poster.entity.field_media_image.entity.fileuri is not empty %}
		<img data-src="{{ file_url(node.field_video_poster.entity.field_media_image.entity.fileuri| image_style('slider') ) }}"  src="{{ file_url(node.field_video_poster.entity.field_media_image.entity.fileuri| image_style('slider') ) }}"  alt="{{ label.0|slice(0, 100) }} " class="lazyload w-100">
	{% endif %}
		{% if  content_type =='image_gallery' and node.field_gallery_images.entity.field_media_image.entity.fileuri is not empty %}
		  {% for image in node.field_gallery_images %}
          {% if loop.index == 1 %}

            <img data-src="{{ file_url(image.entity.field_media_image.entity.fileuri| image_style('slider') ) }}" src="{{ file_url(image.entity.field_media_image.entity.fileuri| image_style('slider') ) }}" alt="{{ label.0|slice(0, 100) }} " class="lazyload w-100">

            </figure>
          {% endif %}
        {% endfor %}



	{% endif %}
</div>
<div class=" col-md-6 d-flex align-items-start px-0 px-md-3 ">
	<div class="newSlider__content d-flex flex-column h-100">
		{% if  content_type =='events' %}
			<small class="newSlider__date mb-4 pt-3 pt-md-5">
                {% if content.field_events_date.0['start_date']['#attributes']['datetime']|date('m') == content.field_events_date.0['end_date']['#attributes']['datetime']|date('m') and content.field_events_date.0['start_date']['#attributes']['datetime']|date('d') != content.field_events_date.0['end_date']['#attributes']['datetime']|date('d') %}
              {{ content.field_events_date.0['start_date']['#attributes']['datetime']|date('d') }} - {{ content.field_events_date.0['end_date'] }}
            {% elseif content.field_events_date.0['start_date']['#attributes']['datetime']|date('d') == content.field_events_date.0['end_date']['#attributes']['datetime']|date('d') and content.field_events_date.0['start_date']['#attributes']['datetime']|date('m') == content.field_events_date.0['end_date']['#attributes']['datetime']|date('m')%}
              {{ content.field_events_date.0['end_date'] }}
            {% elseif content.field_events_date.0['start_date']['#attributes']['datetime']|date('y') != content.field_events_date.0['end_date']['#attributes']['datetime']|date('y') %}
              {{ content.field_events_date }}
            {% else %}
              {{ content.field_events_date.0['start_date']['#attributes']['datetime']|date('d M') }} - {{ content.field_events_date.0['end_date'] }}
            {% endif %}—  {{ content.field_location }}</small>
		{% else %}
			<small class="newSlider__date mb-4 pt-3 pt-md-5">{{ content.field_date }}</small>
		{% endif %}
		<span class="newSlider__title h2 mb-4 fw-bold fc-black">
			{{ label|length > 60 ? label| slice(0, 60) ~ '...' : label }}
		</span>
		<div class=" d-flex mt-auto mb-5">
      {% if content_type =='events' %}
		    <a class="btn linked-black event_popup_button" data-toggle="modal" data-target="#eventModal" href="#" data-title="{{ label.0 }}">
      {% else %}
        <a class="btn linked-black" href="{{ url }}">
      {% endif %}
			<span>{% if content_type =='events' %} {{ 'Register'|t }} {% else %}{{ 'Read more'|t }}{% endif %}</span><i><svg class="icon-svg arrow-right"><use xlink:href="#arrow-right"></use></svg></i>
			</a>
		</div>
	</div>
</div>
