{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{%
  set classes = [
    'taxonomy-term card card--box mb-4',
    'vocabulary-' ~ term.bundle|clean_class,
    'top'
  ]
%}

<div{{ attributes.setAttribute('id', 'taxonomy-term-' ~ term.id).addClass(classes) }}>
  {% if content.field_research_image %}
    <div class="card--img">
      <a href="{{ content.field_link.0['#url'] }}">
        {{ content.field_research_image.0 }}
      </a>
    </div>
  {% endif %}
  <div class="card-body d-flex flex-column">
    {{ title_prefix }}
      {% if not page %}
        <h4 class="mb-3">{{ name }}</h4>
      {% endif %}
    {{ title_suffix }}
    {% set body_content = content|without('field_research_image', 'field_link', 'field_description') %}
    {{ body_content }}
    <div class="link">
      <a href="{{ content.field_link.0['#url'] }}">{% trans %} Learn More {% endtrans %}</a>
    </div>
  </div>
</div>

