{% set view_embed = content.field_view[0]['contents']['#display_id'] %}
{% if view_embed == 'newsroomslider' %}
  {% set classes = 'newroommSlider' %}
{% else %}
  {% set classes = 'section newsHome bg-silver' %}
{% endif %}

{% if view_embed == 'block_1' %}
  <section class="" data-scroll-section="">
    <div class="container faq-block-custom">
      <div class="row justify-content-between align-items-start g-padding-y2 pt-0">
        <div class="section_title col-12 col-md-3" data-scroll="">
            {% if language.getId() == 'ar' or language == 'ar' %}
              <span class="h2 fw-bold title fc-black text-a scroll" data-scroll="">
              {{ content.field_title }}
              </span>
            {% else %}
              <span data-splitting="" class="h2 fw-bold title fc-black text-a scroll words chars splitting" data-scroll="">
              {{ content.field_title }}
              </span>
            {% endif %}
        </div>
        <div class="col-md-8">
          {{ content|without('field_title', 'field_link','field_content') }}
        </div>
      </div>
    </div>
 </section>
{% else  %}
  <section class="{{ classes }}" data-scroll-section="">
    <div class="container">
      <div class="row justify-content-between align-items-start">
        {% if view_embed != 'newsroomslider' %}
          <div class="col-lg-12 view-header">
            <div class="section-details g-padding-y2 p-content row">
              <div class="section_title col-12 col-lg-6" data-scroll="">
                  {% if language.getId() == 'ar' or language == 'ar' %}
                    <span class="h2 fw-bold title fc-black text-a scroll" data-scroll="">
                    {{ content.field_title }}
                    </span>
                  {% else %}
                    <span data-splitting="" class="h2 fw-bold title fc-black text-a scroll words chars splitting" data-scroll="">
                    {{ content.field_title }}
                    </span>
                  {% endif %}
              </div>
              <article class="col-lg-6 col-12 content mt-lg-0" data-scroll="">
                {{ content.field_content.0 }}
                {% if content.field_link.0['#url'] %}
                  <a class="btn linked mt-4" href="{{ content.field_link.0['#url'] }}">
                    <span>{{ content.field_link.0['#title'] }}</span><i><svg class="icon-svg arrow-right"><use xlink:href="#arrow-right"></use></svg></i>
                  </a>
                {% endif %}
              </article>
            </div>
          </div>
        {% endif %}
        <div class="col-lg-12">
          <div class="newContent">
            {{ content|without('field_title', 'field_link','field_content') }}
          </div>
        </div>
      </div>
    </div>
    {% if view_embed != 'newsroomslider' %}
      <div class="graphic speed-block" data-scroll="" >
        <figure class="mb-0 image" data-scroll="">
          <img src="{{ base_url }}/{{ directory }}/images/dotted_circle.svg" data-src="{{ base_url }}/{{ directory }}/images/dotted_circle.svg" alt="ATRC" class="w-100 lazyload">
        </figure>
      </div>
    {% endif %}
  </section>
{% endif %}
