
{% if paragraph.field_image.entity.field_media_image.entity.fileuri %}
  <section class="section reachOutHome" data-scroll-section>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 view-header">
          <div class="section-details g-padding-y2 row">

              <div class="section_title col-12 col-lg-6" data-scroll data-scroll-speed="-1">
              {% if language.getId() == 'ar' or language == 'ar' %}
                <span class="h2 fw-bold title fc-white text-a scroll" data-scroll>{{ content.field_title|raw }}</span>
              {% else %}
                <span data-splitting class="h2 fw-bold title fc-white text-a scroll" data-scroll>{{ content.field_title|raw }}</span>
              {% endif %}

            </div>
            <article class="col-12 col-lg-6 content mt-4 fc-white mt-lg-0">
              {{ content.field_content.0 }}
              {{ content.field_link }}
            </article>
          </div>
        </div>
      </div>
    </div>
    {% if paragraph.field_image.entity.field_media_image.entity.fileuri %}
      <div class="backgroundImage w-100" style="background-image: url('{{ file_url(paragraph.field_image.entity.field_media_image.entity.fileuri) }}')">
      </div>
    {% endif %}
    <div class="graphic speed-block">
      <figure class="mb-0 image">
        <img data-src="{{ base_url }}/{{ directory }}/images/dotted_circle_white.svg" src="{{ base_url }}/{{ directory }}/images/dotted_circle_white.svg" alt="ATRC" class="w-100 lazyload">
      </figure>
    </div>
  </section>
{% else %}
  {% if content.field_title.0 or content.field_link.0['#url'] %}
    <section class="section" data-scroll-section>
      <div class="container">
        <div class="row align-items-center g-padding-y2 pt-0">
          <div class="col-lg-12 col-md-12 view-header reachOutHome">
            <div class="section-details section-detail-with-bg-black g-padding-y2 row">

                <div class="section_title col-12 col-lg-6" data-scroll data-scroll-speed="-1">
                {% if language.getId() == 'ar' or language == 'ar' %}
                  <span class="h3 fw-bold title fc-white text-a scroll" data-scroll>{{ content.field_title|raw }}</span>
                {% else %}
                  <span data-splitting class="h3 fw-bold title fc-white text-a scroll" data-scroll>{{ content.field_title|raw }}</span>
                {% endif %}
                {% if content.field_leadtext|raw %}
                  <span class="lead-text fc-white  scroll" data-scroll>{{ content.field_leadtext|raw }}</span>
                {% endif %}
              </div>
              <article class="col-12 col-lg-6 content mt-4 fc-white mt-lg-0">
                <div>
                <a href="{{ content.field_link.0['#url'] }}" class="btn fc-white formBtn ml-auto align-items-center justify-content-between button button--primary" style="width: auto">
                  {{ content.field_link.0['#title'] }}
                  <i>
                    <svg class="icon-svg arrow-right">
                      <use xlink:href="#arrow-right"></use></svg></i></a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endif %}
